{% extends 'posts/base.html' %}

{% block content %}

<h1>Post</h1>
<ul>
    {% for post in posts %}
        <li> <a href="{% url 'detail_view' post.pk %}">{{ post.title }}</a>  - {{ post.author }}
            - <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
            <br/>
            {{ post.body }}
        </li>
    {% endfor %}
</ul>

{% endblock %}























<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>HOME PAGE</h1>-->
<!--    {% if user.is_authenticated %}-->
<!--        HELLO {{user.id}}-->
<!--        <br>-->
<!--        <a href="{% url 'logout' %}">Log out</a>-->
<!--    {% else %}-->
<!--        Please <a href="{% url 'login' %}">Loh in</a> or-->
<!--        <a href="{% url 'signup' %}">Sign up</a>-->
<!--    {% endif %}-->
<!--</body>-->
<!--</html>-->